.App {
  text-align: center;
}

.Tile-list {
  display: flex;
  flex-wrap: wrap;
}
.Tile{
  flex-basis:29%;
  margin:10px;
}

.Tile-openingCrawl{
  text-align: left;
}

.search-form {
  border-radius: 30px 30px 30px 30px;
  width:20%;
  display:initial;
  /*border-radius: Top-left, Top-right, Bottom-right, Bottom-left;*/
}



