.App {
  text-align: center;
}

.characters{
  margin-top: auto;
}
.characters-column{
  display:flex;
  flex-direction: column;
}

.search-form {
  border-radius: 30px 30px 30px 30px;
  width:20%;
  display:initial;
}



